body {
	font-family: 'Crete Round', serif;
  	background-color: #1d1c1c;
  	background-image:url("images/phil.jpg");
	   background-size:cover;
  	background-repeat:no-repeat;
  	 }
 
@media screen and (orientation: portrait)
{
    body {
	    background-position: left top;
	}
}

@media screen and (orientation: landscape)
{
    body { 
	    background-position: center center;
	}
}

@media (min-width:1025px) and (orientation: landscape)
{
	body {
		background-image:url("images/philw.jpg");
		background-position: center center;
	}
}
 
h1 {
	color: #1d1c1c; 
	padding: 5px;
	font-weight: 100;
	font-size: 64px;
	-webkit-filter: drop-shadow( 1px 1px 1px #e5ddc1 );
            filter: drop-shadow( 1px 1px 1px #e5ddc1 );
}

h2 {
	padding: 55px;
	font-weight: 100;
	color: #85683C;
	font-size: 28px;
}

li {
	list-style:none;
}

.social-button img {
	width: 60px;
	border: 0;
	box-shadow: 0;
	padding: 10px;
	-webkit-filter: drop-shadow( 1px 1px 1px #e5ddc1 );
            filter: drop-shadow( 1px 1px 1px #e5ddc1 );
}

